{% extends "base.html" %}
{% block content %}
<div class="row" align="center">
    <div class="col-xs-12">
        <img id="mypic" src="{{ url_for('static', filename='itme.jpg') }}" class="rounded-circle">
    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3>Who is John Galt?</h3>
        <h5>Couldn't say, but I do know who I am - Austin Lindenberg.</h5>
        <ul>
            <li>23 year old from Melbourne Beach, Florida</li>
            <li>Lifelong-learner | Creator | Athlete | Fan</li>
            <li>Graduate from the University of Florida - December 2018
                <ul>
                    <li>Major: Computer Science Engineering</li>
                    <li>Minor: Physics</li>
                </ul>
            </li>
            <li>Working as a Software Engineer for Sprightful Solar LLC.</li>
            <li>Inspired by the sensation of progress, the desire to have an impact, and examples
                of greatness left by others.</li>
        </ul>
        <h3>One-Liners</h3>
        <ul>
            <li>One of my 2019 goals is to run 50 miles consecutively. You can follow my progress <a
                    href="https://twitter.com/Adlindenberg/status/1148623590545166338?s=20.">here</a>
            </li>
            <li>In 2018 I read 37 books. See what I read <a href="/reads">here.</a>
                and my reflection on doing so <a href="/thoughts">here</a>.</li>
            <li>In the summer of 2015 I roadtripped across the USA with my brother, <a
                    href="https://www.brett.coffee">Brett</a>, while camping
                at 4 national parks throughout the trip as well as hiking Half-Dome in Yosemite.
            </li>
        </ul>
        <!-- TODO: Implement quotes -->
        <!-- <h3>Quotes I've pinned</h3>
            <ul>
                <li>

                </li>
            </ul> -->
    </div>
</div>
{% endblock %}