{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1" align="center">
            <h1><u>2019 Reads</u></h1>
            <p></p><a href="https://tinyurl.com/yyrpl5z8" class="readingLink"><i>What Makes Sammy Run</i> - Budd Schulberg</a></p>
            <p></p><a href="https://tinyurl.com/yxf7ozpg" class="readingLink"><i>Totto Chan</i> - Tetsuko Kuroyanagi</a></p>
            <p></p><a href="https://tinyurl.com/y69y6h4u" class="readingLink"><i>Not Fade Away: A Short Life Well Lived</i> - Laurence Shams</a></p>
            <p></p><a href="https://tinyurl.com/y6nqjwjc" class="readingLink"><i>We the Living</i> - Ayn Rand</a></p>

            <h1><u>2018 Reads</u></h1>
            <p><a href="https://tinyurl.com/y6d93vsf" class="readingLink"><i>Can't Hurt Me</i> - David Goggins</a></p>
            <p><a href="https://tinyurl.com/y5gooke2" class="readingLink"><i>Atlas Shrugged</i> - Ayn Rand</a></p>
            <p><a href="hhttps://tinyurl.com/zr7j6hp" class="readingLink"><i>The Hard Thing About Hard Things</i> - Ben Horowitz</a></p>
            <p><a href="https://tinyurl.com/y3forjnq" class="readingLink"><i>Antifragile</i> - Nicholas Taleb</a></p>
            <p><a href="https://tinyurl.com/lqqzemx" class="readingLink"><i>Astrophysics for People in a Hurry</i> - Neil deGrasse Tyson</a></p>
            <p><a href="https://tinyurl.com/zq8xa4p" class="readingLink"><i>How To Fail At Almost Everything And Still Win Big</i> - Scott Adams</a></p>
            <p><a href="https://tinyurl.com/zahyjd9" class="readingLink"><i>Mindset</i> - Carol Dweck</a></p>
            <p><a href="https://tinyurl.com/yxk5ocko" class="readingLink"><i>Rommel The Desert Fox</i> - Desmond Young</a></p>
            <p><a href="https://tinyurl.com/y2q86my8" class="readingLink"><i>Anything You Want</i> - Derek Shivers</a></p>
            <p><a href="https://tinyurl.com/y22jtunx" class="readingLink"><i>Fit for Life</i> - Harvey Diamond, Marilyn Diamond</a></p>
            <p><a href="https://tinyurl.com/yxq4fhbw" class="readingLink"><i>Shoe Dog: A Memoir by the Creator of Nike</i> - Phil Knight</a></p>
            <p><a href="https://tinyurl.com/yb6ohz9c" class="readingLink"><i>Think And Grow Rich</i> - Napoleon Hill</a></p>
            <p><a href="https://tinyurl.com/y3qzfe7m" class="readingLink"><i>Mountains Beyond Mountains</i> - Tracy Kidder</a></p>
            <p><a href="https://tinyurl.com/yxjxyrl5" class="readingLink"><i>Spin Selling</i> - Neil Rackham</a></p>
            <p><a href="https://tinyurl.com/gsyyvjb" class="readingLink"><i>Blitzkrieg: Myth, Reality, & Hitler's Lightning War</i> - Lloyd Clark</a></p>
            <p><a href="https://tinyurl.com/yaezyxc4" class="readingLink"><i>Innovation & Entrepreneurship</i> - Peter Drucker</a></p>
            <p><a href="https://tinyurl.com/yys8sdcf" class="readingLink"><i>Living With A Seal</i> - Jesse Itzler</a></p>
            <p><a href="https://tinyurl.com/y6xs5am2" class="readingLink"><i>Unlimited Power</i> - Tony Robbins</a></p>
            <p><a href="https://tinyurl.com/y9f8nd25" class="readingLink"><i>The New Tsar</i> - Steven Lee Myers</a></p>
            <p><a href="https://tinyurl.com/vzzx5l3" class="readingLink"><i>The Intelligent Investor</i> - Benjamin Graham</a></p>
            <p><a href="https://tinyurl.com/ycxwpcuk" class="readingLink"><i>The Dharma Bums</i> - Jack Kerouac</a></p>
            <p><a href="https://tinyurl.com/yy86utzd" class="readingLink"><i>I Have a Dream: Writings & Speeches That Changed the World</i> - Martin Luther King</a></p>
            <p><a href="https://tinyurl.com/zvfhfb8" class="readingLink"><i>The Richest Man in Babylon</i> - George Clason</a></p>
            <p><a href="https://tinyurl.com/zbr2lu6" class="readingLink"><i>Influence: The Psychology of Persuasion</i> - Robert Cialdini</a></p>
            <p><a href="https://tinyurl.com/ybm7l6r3" class="readingLink"><i>Skin in the Game</i> - Nicholas Taleb</a></p>
            <p><a href="https://tinyurl.com/h9gcsw9" class="readingLink"><i>The Art of Learning</i> - Josh Waitzkin</a></p>
            <p><a href="hhttps://tinyurl.com/ycyfy8dh" class="readingLink"><i>How to Win At The Sport Of Bushttps://tinyurl.com/y2gbjwbe" class="readingLink"><i>How To Get Rich</i> - Felix Dennis</a></p>
            <p><a href="https://tinyurl.com/y5p3qjha" class="readingLink"><i>Rich Dad Poor Dad</i> - Robert Kiyosaki</a></p>
            <p><a href="https://tinyurl.com/y5oqsb47" class="readingLink"><i>The Warrior Ethos</i> - Steven Pressfield</a></p>
            <p><a href="https://tinyurl.com/yxu7l4jo" class="readingLink"><i>Gates of Fire</i> - Steven Pressfield</a></p>
            <p><a href="https://tinyurl.com/y563mw32" class="readingLink"><i>Awaken the Giant Within</i> - Tony Robbins</a></p>
            <p><a href="https://tinyurl.com/y2tsxfwv" class="readingLink"><i>Open</i> - Andrei Agassi</a></p>
            <p><a href="https://tinyurl.com/yxnt2u3z" class="readingLink"><i>The Paris Architect</i> - Charles Belfoure</a></p>
            <p><a href="https://tinyurl.com/hu6mxrd" class="readingLink"><i>The Lean Startup</i> - Eric Ries</a></p>
            <p><a href="https://tinyurl.com/yb77jfeq" class="readingLink"><i>Originals</i> - Adam Grant</a></p>
            <p><a href="https://tinyurl.com/y9joakqv" class="readingLink"><i>The Hitchiker's Guide To The Galaxy</i> - Douglas Adams</a></p>
        </div>
    </div>
{% endblock %}