{% extends "base.html" %}
{% block content %}
    <!-- Scrollable page of content, all expanded -->
    <!-- TODO: Implement sticky side bar with titles & page-jump links to writing -->
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="blogPost">
                <h2>I read 37 books and I'm still not rich... What gives?</h2>
                <h5>March 3, 2019</h5>
                <p>
                    I had a notion, a notion that went something like this: I read a few books, gain a little knowledge, and somewhere along the way
                    I get this great idea, profit on said great idea (perfect exceution obviously), and end up cruising the world via yacht while wearing exclusively Gucci by early 2019.
                    <br>
                    So I set off on my journey to read 25 books in 2018, acquire said wisdom, obtain said money, and start living the retired-life. Somehow, it didn't quite go as planned
                    and it appears I'll be working for at least the next 40 years of my life - nice! Though, a few things did go as planned. I ended up thoroughly enjoying reading all types
                    of books, so much so that I beat my original goal. Since the close of 2018, I've reflected on this and had a few thoughts...
                </p>
                <p>
                    <ol>
                        <li><h5>Reading provides more frames of reference</h5>
                            <p>
                                The more books I read, the more situations and viewpoints I had at my disposal to analyze my day-to-day situations with.
                                Seems obvious but this is worth noting as a viewpoint is a powerful thing.
                                While not every book aided me in this facet, most books provided at least one lasting impact in terms of my thought process.
                            </p>
                        </li>
                        <li><h5>Autobiographies/Biographies are a great source of inspiration</h5>
                            <p>
                                While nearly all the types of books I read were enjoyable, autobiographies & biographies had a unique ability to grip me and almost shout 
                                "THIS IS WHAT IS POSSIBLE IN LIFE" while simultaneously telling me I'm a piece of shit. A few notable thoughts from the autobiographies
                                I read this year are:
                                <br>- It's ignorance to use the word <i>impossible</i> after reading David Goggins' account of his
                                journey from obese and spraying cockroaches for a living to Navy SEAL to Ultra-marathoner to holder of the pull-up world record.
                                <br>- It's difficult to place your abilities in a box after Scott Adams recounts the dozens of activities he tried and methods he used
                                to achieve success while having approximately zero formal training in any of these pursuits.
                                <br>- It's motivating to hear Phil Knight look back on the initial years of Nike as they experienced
                                the highest-highs and the lowest-lows while pursuing a dream, knowing that these emotions and moments of being alive that come with
                                following our dreams.
                                <br>- It's unacceptable to let the greatness of others go unnoticed and not raise your own internal bar once you've seen what is possible.
                            </p>
                        </li>
                        <li><h5>It was good but... I didn't get rich</h5>
                            <p>
                                Alright, I'm kidding. But not entirely. I extracted immense value from the time I invested in reading last year but at the same time
                                I sacrificed a large portion of my time dedicated to the task. In 2019 I am going to keep reading (currently re-reading <i>Atlas Shrugged</i>)
                                but shift focus on producing more rather than consuming. That means creating - this website, software projects, material objects, writings.
                                Creation is what the world needs, the way you provide it is what makes you uniquely you. I love reading books and am grateful for the new habit
                                but in 2019 I'm primarily looking forward to putting things out there in this world that I can call <u>my own</u>.
                            </p>
                        </li>
                    </ol>
                </p>
                <p>
                    So no, I am not rich nor elitely intelligent now that I have read 37 books. Maybe there's a delay on the riches, I don't think I saw the <i>Prime</i> logo before checking out?
                    Going forward the focus is not to always be reading but to read what interests me
                    while primarily focusing on creating and bringing new things of value into this world. If all we did was read, our life stories would be absorptions of others' lives. 
                    I want my life story to be inspiring in its own unique right. That's going to take a whole lot more "doing" on my end so I've gotta get to it.
                </p>
            </div>
        </div>
    </div>
{% endblock %}